.root {
}

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #dbdbdb;
  height: 100vh;
  margin: 0;
  padding: 0;
}

html, body {
 background-color: #dbdbdb;
  }

.cases-container {
  border: 1px solid #e1dfdd;
  padding-left: 5px;
  background-color: #f0efef;
  display: flex;
  flex-direction: column;
 padding-right: 15px;
  max-width: 85%;
  width: auto;

}

.header-style {
  align-self: flex-start;
  margin-left: 8%;
  font-weight: lighter;
}

/* .css-124 { 
  margin-top: 20px ;

} */

.menu-container {
  display: flex;
 
}

.view-case-left-col-header-bar {
  width: 720px;
  height: 33px;

  background: #2e456b;
}

.view-case-right-col-header-bar {
  width: 305px;
  height: 33px;

  background: #2e456b;
}

.view-case-left-col-header {
  width: 720px;
  height: 140px;
  left: 157px;
  top: 104px;
  font-size: 10px;
  background: #ffffff;
  font-weight: 600;

  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  border: 2px px;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

div.view-case-left-col-header h1 {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  /* identical to box height */

  list-style-type: none;
  color: #000000;
}
div.view-case-left-col-header h2 {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height */
  list-style-type: none;
  color: #000000;
}
.view-case-left-col-header-bar h1 {
  padding-top: 2px;
  left: 177px;
  top: 109px;

  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  /* identical to box height */
  margin-left: 30px;
  color: #ffffff;
}

.view-case-right-col-header-bar h1 {
  padding-top: 2px;
  left: 177px;
  top: 109px;

  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  /* identical to box height */
  margin-left: 30px;
  color: #ffffff;
}

div.view-case-left-col-header ul li {
  margin-top: -15px;
}

.view-case-left-col-header h1 {
  margin: 10px 10px 0 0;
}

.view-case-left-col-body {
  width: 720px;
  min-height: 356px;
  height: auto;
  left: 156px;
  top: 251px;

  background: #ffffff;

  border: 2px px;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}
.view-case-left-col-footer {
  width: 720px;
  height: 320px;
  left: 156px;
  top: 690px;

  background: #ffffff;

  border: 2px px;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}
.view-case-right-col-header {
  width: 305px;
  height: 100%;
  left: 960px;
  top: 104px;
  padding-bottom: 20px;

  background: #ffffff;

  border: 2px px;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}
.view-case-right-col-body {
  width: 305px;
  height: 100%;
  padding-bottom: 20px;

  background: #ffffff;

  border: 2px px;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.view-case {
  margin-top: 30px;
  margin-bottom: 30px;
}

.first-row-header {
  margin-top: 8px;
  margin-left: -10px;
}
.second-row-header {
  margin-top: -5px;
  margin-left: -10px;
}

.status-header {
  margin-top: -11px !important;
  margin-left: 50px;
}

.view-case-right-col-body-activity {
  padding-top: 10px;
  padding-left: 10px;
}

.view-case-right-col-header-content {
  margin-left: 10px;
  padding-top: 10px;
}

.header-avatar {
  margin-top: 20px;
}

div.view-case-left-col-body {
  padding-top: 5px;
  
}

div.view-case-left-col-body p {
  margin-left: 10px;
  margin-right: 10px;
 word-wrap: break-word;
 padding-bottom: 15px;

}

.card-logo-container {
  margin-top: 20px;
  margin-left: 14px;
}

.status-container {
  display: flex;
}

.pages-container { 
  margin-bottom: -30px;
 padding-top: 20px;
  
}

.pages-container button{ 
  border: none;
  font-size: 14px;
}

.pages-container button:disabled{ 
  background-color:#0078D4;
 color: white;

}

.pages-container button:hover{ 
 
}
  